a
{
	text-decoration: none;
	color: darkred;
	
}
a:active,
a:hover{
	text-decoration: none;
  color: green;}

button {
  border-radius: 30px; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
	text-align: center;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.ftco-cart {
	padding-top: 50px;
}

button,
input {
  overflow: visible; }
.empty
{
	height: 50px;
}
button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }


.not_active {
	opacity: 0.3;}
.btn{
	border-radius: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
