<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
		{{ title }}
		{% endblock title %}
	</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	
</head>

<body>
	{% include 'inc_menu.html' %}
	
    {% block content %}
    
	{% endblock %}
	<div class="empty" ></div> 
	<footer class="bg-light fixed-bottom row-fluid">
	<div class="navbar-inner">
		<div class="container">

			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						Copyright &copy;<script>
							document.write(new Date().getFullYear());

						</script> All rights reserved | This template is made by <a href="https://togliatti.hh.ru/resume/f15b074aff082071770039ed1f6b39664a6146" target="_blank">Maxis_EA</a>

					</p>
				</div>
			</div>
		</div>
		</div>
	</footer>
</body>

</html>